@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Error</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Error</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h2 class="text-error"><b>Opps!!!</b>Something happened while processing your request, please try again later. </h2>
                <br /><p class="text-success" id="typewriter" style="text-transform:uppercase;">@ViewBag.Error</p>

            </div>
        </div>
    </div>
    </section>

@section scripts{
<script src="~/Scripts/Plugins/typewriter.js"></script>
<script>
    $(function () {
        $("#typewriter").typewriter({
            'speed': 100 // default: 300
        });
    });
</script>
}