@{
    ViewBag.Title = "PageNotFound";

    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">404</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">404</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="center">
                    <h1 style="font-size:60pt"><b>4.0.4</b></h1>
                    <br />
                    <i class="fa fa-5x fa-times-circle  text-danger"></i>
                    <br /><br />

                    <h2 class="center">
                         <b>Opps!!!</b> the page you requested is not available.
                    </h2>
                    <br /> <a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a>
                </div><!-- /.title-section -->

              
            </div>
        </div>
    </div>
</section>
