


<div class="center">
    <h1 style=""><b>Thank You!</b></h1>
    <br />
    <i class="fa fa-5x fa-check-circle  text-success"></i>
    <br /><br />

    <h2 class="center">
        Your payment subscription for iHealth Networking Group has been process successfully.
        <br />
        We'll send you an email confirmation shortly.
        <br />
        For reference, your transaction Id is @ViewBag.tRef
    </h2>
    <br /> <a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a>
</div><!-- /.title-section -->

