@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-content">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h2>Email Confirmed.</h2>
                <br />
                <div style="height:1000px">
                    <p style="
  font-family: Courier;
  font-size: 30px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); ">
                        Thank you for confirming your email.<br /> <br /> Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
