@{
    ViewBag.Title = "Service  Booster";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Service Booster</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Service Booster</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrap-main-post about-v3">
                    <!-- /.wrar-slides -->
                    <div class="col-md-12 center" accesskey="">
                        <div class="col-md-5">
                            <h2 class="center"><b>Service Booster List</b></h2>
                            <div class="box-content">
                                To check out the list of our service boosters <br />
                                <a href="/ing/Client_Booster_List" class="btn btn-danger">Click Here</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="display:inline-block;top:-100px; width: 50px; height: 100px; margin: 10px;">
                                <div style="position: absolute;left: 49%;top: 0;bottom: 0;width: 1px;background: #ff0000;z-index: 1;">
                                    <div style="text-align: center;height: 12px;position: absolute;left: 0;right: 0;top: 50%;margin-top: -12px;z-index: 2;">
                                        <div style=" color: #000000; text-transform: uppercase; letter-spacing: 1px; padding: 3px; font: bold 12px arial,sans-serif; background: #fff;">
                                            OR
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-5">
                            <h2 class="center"><b>Register</b></h2>
                            <div class="box-content">
                               To become a service booster.
                                <br /><a href="/Account/iniregform" class="btn btn-success">Click Here</a>
                            </div>
                        </div>
                    </div>
                <br /><br /><br /><br /><br /><br />
                    <div class="box-content">
                        <p style="text-align:justify;">
                           <b style="font-size:14pt">ServiceBooster</b>  are merchants who provide quality services for iHealth Networking Group members – iHNG with discounts. This discount is necessary because any member of iHNG is already working and promoting activities of good health services and as such deserves some level of discount for his/her encouragement
                        </p>
                        <br />
                        <p style="text-align:justify;">
                            ServiceBooster is iHealth’s Flagship Solution that helps our premium clients gain more traction in providing products and services to paying customers. This solution makes it seamless to connect health products and services to consumers.
                        </p>
                        <br />
                        <p style="text-align:justify;">
                            iHealth solution is designed to help service boosters as well as career networkers on our web platform to connect with consumers of health services and products
                        </p>
                        <br />
                        <p style="text-align:justify;">
                            We will assist hospitals under our Service-Boosters to enroll with NHIS and credible HMOs
                        </p>
                        <br />
                        <p style="text-align:justify;">
                            Please note that listing Service-Boosters on our platform is FREE but it is recommended that the Service-Boosters sell their products and services to our team members/workers at a discount, kindly see below recommended discounted rate for Service-Booster
                        </p>
                        <br />
                        <p style="text-align:justify">
                            <h3><b>iHNG recommended discount offer for our Service-Boosters</b></h3>
                            <br />
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed">
                                    <tr>
                                        <th><b>S/N</b></th>
                                        <th><b>PROVIDER</b></th>
                                        <th><b>PRODUCT/SERVICE TYPE</b></th>
                                        <th><b>DISCOUNT RATE</b></th>
                                    </tr>                                    
                                    <tr>
                                        <td>1.</td>
                                        <td>HMO/Insurance</td>
                                        <td>Plans</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Hospital/ Clinic</td>
                                        <td>Consulting</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>3. </td>
                                        <td>Pharmaceutical Shop</td>
                                        <td>Drugs</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Skin-Care/ Cosmetics</td>
                                        <td>Products</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <td>Herbal Medicine</td>
                                        <td>Products</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <td>Lab</td>
                                        <td>Services</td>
                                        <td>10%</td>
                                    </tr>
                                    <tr>
                                        <td>7.</td>
                                        <td>Medical Equipment/ Gadgets/Furniture</td>
                                        <td>Products</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>8.</td>
                                        <td>Veterinary Medicine</td>
                                        <td>Services/products</td>
                                        <td>5%</td>
                                    </tr>
                                    <tr>
                                        <td>9.</td>
                                        <td>Others </td>
                                        <td colspan="2">Please Specify ?</td>
                                        
                                    </tr>
                                </table>
                            </div>
                            <br />
                            Otherwise, kindly ensure you specify your discounted offer on your page
                        </p>
                        @*<p style="text-align:justify;">
                            For service and product providers it all begins with our Service and Seller Legal Agreement.
                            This agreement locks in corresponding action and benefits into the solution; paying actions on the one hand and loyalty rewards and benefits on the other hand.
                            All our career network subscribers have instant access to this solution upon registration.

                            <a href="/home/sla"> Click here</a> to read Ihealth Service and Seller Legal Agreement

                        </p>*@
                        <br />
                        <p style="text-align:justify;">
                          <h2 style="text-decoration:underline">  The core features of the Service Booster solution</h2>
                            <ul style="line-height:20px">
                                <li>
                                    <b> FrontPage Listings –</b> subscribers to our Service Booster solution will be given front (and others) page listing space, to advertise on our platform.
                                    <br /><br />
                                </li>
                                <li>
                                    <b>SMS Casting –</b>we send your products and services to our registered users at frequent intervals, using our unique SMS Platform.<br /><br />
                                </li>
                                <li>
                                    <b>EMAIL Casting -</b>we send your products and services to the inboxes of our regular users, using our newsletter to contextually display your products, services and locations.<br /><br />
                                </li>
                                <li>
                                    <b>Dedicated Referrals -</b>we will directly refer registered users to your products, services and locations.<br /><br />
                                </li>
                                <li>
                                    <b> Tour-A-Location –</b>using this feature our registered users will be able to take a virtual tour of your business premises using an Audio-Visual connection. This feature will highlight to them visible and valid value propositions in your business that can convince them to make a visit.<br /><br />
                                </li>
                                <li>
                                    <b>Video-Conferencing -</b>on iHealth’s social hangout for product and service providers. This tool also provides video conferencing in real time as a separately requested option to help you connect with paying health consumers.<br /><br />
                                </li>
                                <li>
                                    <b>Service and Product Quality Audit - </b>- using this solution, we will also send to you an Audit of your business that is backed by consumer intelligence – a user satisfaction data that is only accessible by you, but one that serves as a guidepost to business optimization for you.<br /><br />
                                </li>
                                <li>
                                    <b>Ihealth PMS- </b>we have good page management services whereby our dedicated staff will help you to manage your business page on our platform.<br /><br />
                                </li>
                                <li style="font-style:italic">
                                    <b class="text-danger"> Please Note –</b>you must be a licensed dealer, registered pharmacist or druggist to provide paid products and services on our platform. All other types of Health Product sellers and Alternative health providers must get requisite permissions from the relevant authorities to do same.
                                </li>

                            </ul>

                            To Register with us &nbsp;<a class="btn btn-success" href="/account/iniregform">Click here</a>
                        </p>
                        <div class="dividers dividers-bc-v4"></div>
                    </div>

                </div> <!-- /.wrap-main-post -->
            </div> <!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row-iconbox -->



