
@{
    ViewBag.Title = "Health_Insurance_Benefits";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">
                      iHealth Insurance Benefits
                </h1>
            </div><!-- /.page-title-heading -->
            <ul class="breadcrumbs">
                <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            
                <li><a href="#" title="">Health_Insurance_Benefits</a></li>
            </ul><!-- /.breadcrumbs -->
            <div class="clearfix"></div><!-- /.clearfix -->
        </div>
    </div>
</div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-8 col-md-offset-2">-->
            <div class="wrap-main-post about-v3">
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                   
                                        <th><b>Plan Benefits</b></th>
                                    <th><b>A</b></th>
                                    <th><b>B</b></th>
                                    <th><b>HCN1</b></th>
                                    <th><b>HCN2</b></th>
                                    <th><b>HIGH CLASS NETWORKER (HCN)</b></th>
                                
                                </tr>
                                <tr>
                                    <th></th><th></th><th></th><th></th><th></th><th></th></tr>
                               
                            </thead>
                            <tbody>
                              
                                
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>1. Preventive Services </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Annual Health Screening </td><td>Physical exam </td><td>Physical exam, Urinalysis, PCV, Body Mass Index </td><td>Physical exam, Urinalysis, PCV, Body Mass Index, FBS, Chest X ray. </td><td>Physical exam, Urinalysis, PCV, Body Mass Index, FBS, Chest X ray, ECG, Total Cholesterol, Lung function test, Abdominopelvic USS, Pap smear (women >40 yrs), PSA (men >40yrs) </td><td>Physical exam, Urinalysis, PCV, Body Mass Index, FBS, Chest X ray, ECG, Total Cholesterol, Lung function test, Breast scan / mammogram, Abdominopelvic USS, Pap smear (women >40 yrs), PSA (men >40yrs) </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Wellness Club Membership </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Periodic Health Promotion </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>2. Emergency Medical Services </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Ambulance transport </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Emergency room stabilization </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Intensive care </td><td>X </td><td>1 day </td><td>2 days </td><td>3 days </td><td>5 days </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>3. Physician Services </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. General outpatient/ inpatient Consultation </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Specialist outpatient/Inpatient consultation</td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Diagnostic X-rays and Lab tests </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Diagnostic Ultrasound </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>e. Advanced & Complex Investigations </td><td>X </td><td>ECG, Barium studies. </td><td>ECG, Barium studies, CT scan, Doppler Scan, Echocardiogram. </td><td>ECG, Barium studies, CT scan, Doppler Scan, Echocardiogram, MRI, Mammogram. </td><td>ECG, Barium studies, CT scan, Doppler Scan, Echocardiogram, MRI, CT angiogram, Mammogram, Cardiac enzymes. </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>f. Prescription Drugs for covered services. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>4. Hospital Inpatient Services For covered benefits </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Hospitalization </td><td>Standard ward </td><td>Semi private room </td><td>Semi private room </td><td>Private room </td><td>Private room </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Special medical diets </td><td>X</td><td>X</td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>5. No of Hospital available for usage </td><td>1</td><td>1</td><td>1</td><td>Roaming </td><td>Roaming </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>6. Chronic Illness Management </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>7. Fertility Services </td><td>X </td><td>Counseling, SFA, USS. </td><td>Counseling, SFA, USS, Hormonal profile. </td><td>Counseling, SFA, USS, Hormonal profile, HSG + Hydrotubation, Basic / First line drugs</td><td>Counseling, SFA, USS, Hormonal profile, HSG + Hydrotubation, Hysteroscopy. Basic /First line drugs. </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>8. Maternity Care </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Antenatal care </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Normal delivery </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Assisted delivery </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Caesarean section delivery </td><td>X</td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>e. Postnatal care </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>9. Neonatal Services </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Phototherapy care </td><td>3 days </td><td>5 days </td><td>5 days </td><td>7 days </td><td>10 days </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Incubator care </td><td>2 days </td><td>2 days </td><td>2 days </td><td>5 days </td><td>7 days </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Preterm care </td><td>2 days </td><td>2 days </td><td>2 days </td><td>5 days </td><td>7 days </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Exchange blood transfusion </td><td>X </td><td>1session </td><td>1session </td><td>3 sessions </td><td>5 sessions </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>10. Immunizations </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Childhood Immunizations </td><td>BCG, OPV, DPT, Measles, Pentavalent, Yellow fever, Hepatitis B, Vit A vaccines.</td><td>BCG, OPV, DPT, Measles vaccine, Pentavalent, Yellow fever, Hepatitis B, Vit A vaccines.</td><td>BCG, OPV, DPT, Measles, Pentavalent, Yellow fever, Hepatitis B, Chicken pox, Vit A, Meningitis, MMR vaccines</td><td>BCG, OPV, DPT, Measles, Pentavalent, Yellow fever, Chicken pox, Vit A, HIB, MMR, Rotavirus, Pneumococcal, Meningitis.</td><td>All Childhood Immunizations, including booster vaccines. </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>11. Family Planning </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Oral contraceptives </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Intrauterine Device (IUD) </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Depo Provera (injection) </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Norplant </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>e. BTL + Vasectomy </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>12. Surgical Services </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Minor Surgeries e.g. suturing of laceration, joint aspirations. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Intermediate Surgeries e.g. Hernioraphy, Appendectomy, Endoscopy+. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Major surgeries e.g. Myomectomy, Adenotosilectomy, Exploratory Laparotomy, Skin grafting, Endoscopy++. </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Major - Major Surgeries e.g. Endoscopy+++, Laparoscopy, ORIF, Thyroidectomy. </td><td>X </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>e. Neurosurgery. </td><td>X </td><td>X </td><td>X </td><td>X </td><td>N500,000.00 </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>13. Psychiatry Services. </td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Evaluation and Diagnosis </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Acute care/Emergency stabilization (30days). </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>14. Dialysis. </td><td>X </td><td>1 Session </td><td>2-Sessions </td><td>3 Sessions </td><td>5 Sessions </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>15. Physiotherapy care.</td><td>X </td><td>5 Sessions</td><td>10 Sessions </td><td>15 Sessions </td><td>25 Sessions </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>16. Dental Care. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Dental Trauma. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Pain therapy. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Scaling & Polishing. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Simple extraction. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>e. Surgical extraction. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>f. Composite filling. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>g. Amalgam filling. </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>h. Root Canal Therapy. </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>i. Orthodontics. </td><td>X </td><td>X </td><td>X </td><td>X </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>j. Dental Limits. </td><td>X </td><td>N20,000.00 </td><td>N40,000.00 </td><td>N70,000.00 </td><td>N100,000.00 </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>17. Ophthalmic Services. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Basic optical care </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Secondary care </td><td>X</td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>c. Frame and lenses. </td><td>X </td><td>N10,000.00 </td><td>N15,000.00 </td><td>N25,000.00 </td><td>N40,000.00 </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>d. Ophthalmic surgery. </td><td>X </td><td>X </td><td>N100,000.00 </td><td>N150,000.00 </td><td>N200,000.00 </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>18. HIV Treatment. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>a. Definitive treatment i.e. provision of ARVs.</td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>b. Treatment of opportunistic infections. </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>19. ***Overseas Treatment for medical conditions that cannot be treated locally </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td><i class="fa fa-check"></i> </td><td>350 principals </td><td>250 principals </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>Region of cover </td><td>Nigeria </td><td>Nigeria </td><td>Nigeria </td><td>Nigeria, India, UAE </td><td>Nigeria, India, UAE, South Africa </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>20. Cancer care: Consultation, Surgery + Radiotherapy & Chemotherapy. </td><td>X </td><td>Limit of N100,000.00 </td><td>Limit of N200,000.00 </td><td>Limit of N300,000.00 </td><td>Limit of N500,000.00 </td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>21. Mortuary Services up to a family limit (embalmment, autopsy plus fridge excluding ambulance, casket). </td><td>X </td><td>N50,000.00 </td><td>N100,000.00 </td><td>N150,000.00 </td><td>N250,000.00 </td></tr>
                            </tbody>

                        </table>
                    </div>

                    <br />
                 
                        <h3> <b class="text-danger">Please note:</b><br /></h3>

                    <p style="margin-left:2em">
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  New born of members of ihng shall have free covered for the first eight (8) weeks of life, during which it is expected that the registration would have been concluded with our recommended hmo.<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i> The Benefits are subject to review depending on the HMO. Some HMOs have pre-existing conditions like: The following pre-existing conditions will be excluded in the first 24 months of the inception of their policy.<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Hypertension and Cardiac related diseases<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Diabetes and its Complications<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Hepatitis B & C<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Heamoglobinopaties (e.g. Sickle cell disease)<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Kidney related conditions<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Peptic Ulcer Disease<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Asthma<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Epilepsy and Seizure disorders<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Glaucoma and Cataract<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Arthritis<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Pregnancy – All treatment related to Antenatal, Natal, or Postnatal period<br />
                        <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Management of Malignancies (Cancers) etc<br />
                        Also note that pre-existing conditions will not affect people that registered as cooperate organization in all our HMOs policy and with large pool, we will continue to negotiate better and remove the pre-existing conditions totally for everybody. Please join us now

                        <br /><br />
                    </p>
                        <h3>
                            <b class="text-danger">
                                EXCLUSIONS:
                            </b>
                        </h3><br />
                    <p style="margin-left:4em">
                        <h4>The following are excluded from these Plans except otherwise agreed :-</h4>
                        <br />
                        1. Treatment for benefits not covered by the plan.<br />
                        2. Treatment by a provider not in recommended HMO Network providers (Check the list of hospitals) except approved by us.<br />
                        3. Cosmetic/plastic surgery.<br />
                        4. Complex major surgery e.g. heart surgeries, renal transplant, etc.<br />
                        5. Congenital & neurological abnormalities.<br />
                        6. Illnesses arising out of addictive conditions/disorders or drug/substance abuse.<br />
                        7. Provision of hearing aids and artificial limbs.<br />
                        8. Autommune / autoantibody conditions e.g. Systemic Lupus Erythematosis, Dyscoid Lupus Erythematosis, Motor Neuron Lesion etc.<br />
                        9. Chronic psychiatric illness.<br />
                        10. Weight Modifications treatment.<br />
                        11. Joint replacement surgeries.<br />

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/Plugins/bootstrap-table.js"></script>
    <script>
        $('#table').bootstrapTable({

            striped: true,
            // cardView: true,
            pagination: true,
            pageSize: 30,
            pageList: [30, 200, 500, 900, 1500, 2000],
            smartDisplay: false,
            showToggle: false,
            search: true,
            //showColumns: true,
            //showRefresh: true,
            //    border : true
            //align: 'center',
            //valign: 'bottom'

        });

    </script>
}

