@{
    ViewBag.Title = "Hospital_list";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Hospital List</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Hospital List</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrap-main-post about-v3">
                    
                        <b class="center" style="font-size:16pt"> List of Hospitals available to iHealth Networker</b>
                           <br /><br />                   
                            <ul>
                                <li>
                                   <h3>
                                   <i class="fa fa-bullseye text-success"></i>  <a  href="/ing/Health_Providers/?ct=First_Hospital_List">First Hospital List</a>
                                    </h3> 
                                    <br />
                                </li>
                                <li>
                                    <h3>
                                        <i class="fa fa-bullseye text-success"></i>   <a  href="/ing/Health_Providers/?ct=second_hospital_List">Second Hospital List</a>
                                    </h3>
                                    <br />  </li>
                                <li>
                                    <h3>
                                        <i class="fa fa-bullseye text-success"></i>   <a href="/ing/Health_Providers/?ct=High_Class_Networker">High-Class Networkers Hospital List </a>
                                    </h3> 
                                    <br />
                                </li>
                            </ul>
                    <h3><b class="text-danger">Please note:</b>&nbsp; these hospital lists are based on our HMOs recommendations.</h3>
                      
                   
                </div>
            </div>
        </div>
    </div>
</section>

