@{
    ViewBag.Title = "Benefits";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br /><br />
<div class="container">
    <div class="divPanel page-content">
        <div class="row-fluid">
            <div class="span9">
                <h3><b>WELCOME TO IHEALTH NETWORKING GROUP (iHNG)</b></h3>
                <p style="text-align:justify">
                    <b>iHNG</b> is designed to empower individuals who want to benefit on the group's health
                    insurance plan at lesser cost. Members can also earn some income by referring new members join the group.

                    <h4><b>Memebership Benefits</b></h4>

                    <ol>
                        <li>
                            Refer people to the iHealth networking platform for Cash Bonuses
                        </li>
                        <li>
                            Refer Professionals and Service-Providers in the various branches of the Medical sector(Hospitals,Clinics,Pharmacies etc.) to provide services and products  in  Ihealth's dynamic ClientBooster platform . This platform will provide different kinds of benefits and rewards to Clients that are backed by  Service and Seller Legal Agreements with these service providers and product sellers.
                        </li>
                        <li>
                            You will also get up to 50% of the subscription fees for any approved service providers and product sellers  you refer to the Ihealth networking platform.
                        </li>
                        <li>
                            You will also get free health content in form of articles, videos, podcasts, banner ads for offers etc. This free information will be sent to you in form of our iHealth newsletter.These free content will enrich your well-being remarkably.
                        </li>
                        <li>
                            You will also be enjoying a minimum discount of 5% if you make any purchase from any service provider or product seller in our  ClientBoosters platform . These includes HMOs, Consultants, Medical Equipment/gadgets suppliers etc. Please Note -There will be more discount rates, which will vary according to the service and product providers,
                        </li>
                        <li>
                            If you refer other people to use a hospital’s service in our ClientBooster platform, you will get about 1 0% of what the people spend for treatment, according to the Service and Seller Legal Agreement with service providers and product sellers.
                        </li>
                        <li>
                            You will also get 5% commission for selling any health insurance plan on our e-commerce platform
                        </li>
                        <li>
                            Members are entitled to 50% of the iHNG subscription fees that their referrals make in our networking platform.
                        </li>
                        <li>
                            Members who meet our strategic promotional target of 4 referrals or more, within 30 days can benefit from our group health insurance benefits <a target="_blank" href="~/PDF.JS/web/viewer.html?File=%2FHealthInsuranceBenefits4ING.pdf">(click here to see the coverage benefits)</a> or you will receive an additional 10% cash bonus
                        </li>
                        <li>
                            You will also be eligible for our annual Outstanding Achievements Awards. These Awards will be issued to reward outstanding referrers on the Ihealth platform.
                        </li>
                    </ol>
                    We will continue to add more benefits for you
                    <br /><strong class="text-error">  Note, every member is expected to subscribe with a non-refundable fee of Five thousand Naira (₦ 5,000) only to enjoy these benefits.</strong>
                    <br />Thanks for Joining the  Ihealth Networking Group – iHNG
                    <br /><b>The Ihealth Management Team</b>

                    <br /><a href="/account/iniregform">Click here to sign up</a>


                </p>


            </div>
        </div>
    </div>
</div>

