@{
    ViewBag.Title = "Training_guide";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Training Guide</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Training Guide</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrap-main-post about-v3">
                    <!-- /.wrar-slides -->

                    <div class="box-content">
                        <h3><b>iHealth Partnership Guide and Web Based Training</b></h3>
                        <p style="text-align:justify">
                            Our iHealth Partnership Guide and web based training sessions will help you to get more people into your iHealth Partnership Channel. This will help you to earn more money.
                        </p>
                        <br />
                        <p style="text-align:justify">
                            There are various skills in business networking, this guide and web based training sets you on the path to successful networking on the iHealth partnership platform.
                        </p>
                        <br />
                        <p style="text-align:justify">
                            Always ensure that your referrals maintain your code number on their form during registration or they can register through your link
                        </p>
                        <br />
                        <p style="text-align:justify">
                            The most profitable audience to target for high-class-Networkers are highly populated areas like organizations, schools, Church, Mosque, seminars etc
                        </p>
                        <br />
                        <p style="text-align:justify">
                            <h4 style="font-weight:800"><a class="text-danger" href="/account/iniregform">SIGN UP TO GET STARTED NOW!</a></h4>
                            <br />
                            <ol style="text-align:justify">
                                <li>
                                   1. &nbsp;What are You Offering to Others – A. Cheaper and Discounted Health Services, Products, Equipment, Insurance Policies etc., that will be backed by our Service and Seller Level Agreement. This agreement compels the service and product providers to give compensatory benefits to marketers and consumers in return for marketing and consuming their products and services.
                                    <br /><br /></li>
                                <li>
                                  2.&nbsp;  We help you to Identify where you should go and make great sales, and for that purpose you will be using our updated directory of networking opportunities that are connected to our web based forum which will connect you to the right people in the right places at the right time.
                                    <br /><br /> </li>
                                <li>
                                 3. &nbsp;  We help team members to make the right decisions about which people and organizations to contact.
                                    <br /> <br /></li>
                                <li>
                                4. &nbsp; We help you as a team member to Register the right events and schedule it like a business meeting.
                                    <br /> <br /> </li>
                                <li>
                                5.  &nbsp; We help you to determine how often you should be networking in a highly systematic manner.
                                    <br />  <br /></li>
                                <li>
                                 6. &nbsp; We help you to prepare yourself physically and mentally for Networking. This will help you to address your audience appropriately.
                                    <br />  <br /></li>
                                <li>
                                   7.&nbsp; We help You to get quality referrals and leads.
                                    <br /><br /> </li>
                                <li>
                                  8.&nbsp;We will help you to follow up your referrals and contacts on our platform which is already built to do just that and you can leverage on the power of our Service-Boosters to get more leads and therefore make more money.
                                    <br /><br /> </li>
                                <li>
                                   9.&nbsp;We help you to Share information in a positively ubiquitous manner that tells people why you want to connect with them and why it is beneficial for them to connect with you.
                                    <br /><br /> </li>
                            </ol>

                          
                            For further guide, kindly send us an e-mail <a href="mailto:ihngroup@ihealthgsfm.com">ihngroup@ihealthgsfm.com</a> or call our support line
                            <br />
                            Thank you.
                        </p>
                        <div class="dividers dividers-bc-v4"></div>
                    </div>

                </div> <!-- /.wrap-main-post -->
            </div> <!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row-iconbox -->

