@if (Session["Name"] == null)
{
   //Response.Redirect(Url.Action("login","Account"));
    FormsAuthentication.RedirectToLoginPage();
}
@using iHealth2.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua ">
                    <div class="inner">
                        <h3>
                            @{
                                var NumOfNewRegisterUser = db.Users.Where(u => u.NotifyStatus == 0 && u.UserType == "BusinessUser").Count();
                            }
                            @NumOfNewRegisterUser
                        </h3>
                        <p>
                            New Normal Users
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/admin/NewBUsers" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>

                    </a>

                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-black-gradient ">
                    <div class="inner">
                        <h3>
                            @{
                                var NewRegINGUser = db.Users.Where(u => u.NotifyStatus == 0 && u.UserType == "INISubcriber").Count();
                            }
                            @NewRegINGUser
                        </h3>
                        <p>
                            New ING Subcribers
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/admin/NewINIsubsciber" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>

                    </a>

                </div>
            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow ">
                    <div class="inner">
                        <h3>
                            @{
                                var premiumUser = db.premium_user.Where(u => u.NotifyStatus == 0).Count();
                            }
                            @premiumUser
                        </h3>
                        <p>
                            New Premium User
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="/premium/NewPremiumUser" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray-active ">
                    <div class="inner">
                        <h3>
                            @{
                                var totalINGUsers = db.Users.Where(u => u.NotifyStatus == 1 && u.UserType == "INISubcriber").Count();
                                var activeINGUsers = db.Users.Where(u => u.NotifyStatus == 1 && u.UserType == "INISubcriber" && u.INISubcriberExtraDetails.PaymentStatus.ToLower() == "paid").Count();
                                var passiveINGUsers = db.Users.Where(u => u.NotifyStatus == 1 && u.UserType == "INISubcriber"&& u.INISubcriberExtraDetails.PaymentStatus.ToLower() =="pending").Count();
                            }
                            @totalINGUsers
                        </h3>
                        <p>
                            All Registered ING User
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        @activeINGUsers Active, @passiveINGUsers Passive <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple-gradient ">
                    <div class="inner">
                        <h3>
                            @{
                                var totalBUsers = db.Users.Where(u => u.NotifyStatus == 1 && u.UserType.ToLower() == "businessuser").Count();
                               
                            }
                            @totalBUsers
                        </h3>
                        <p>
                            Normal users
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="/admin/All_Busers" class="small-box-footer">
                       More Info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red ">
                    <div class="inner">
                        <h3>
                            @{
                                var compcount = db.BusinessInfoes.Where(b => b.NotifyStatus == 0 || b.ApprovedStatus == "P").Count();
                            }
                            @compcount
                        </h3>
                        <p>
                            New Company/Business
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-home"></i>
                    </div>
                    <a href="/Company/NewlyRegBusiness" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                           
                               @{var appcomcount = db.BusinessInfoes.Where(b => b.ApprovedStatus == "A" && b.VerifiedStatus == "NV").Count();}   
                          @appcomcount  
                        </h3>
                        <p>
                            Approved Company/Business
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/Company/ApprovedComp" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <!--TODO-->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-fuchsia">
                    <div class="inner">
                        <h3>
                            @{
                                var Vcompcount = db.BusinessInfoes.Where(b => b.ApprovedStatus == "A" &&b.NotifyStatus == 1 && b.VerifiedStatus == "V").Count();
                            }
                            @Vcompcount
                        </h3>
                        <p>
                            All Verified Company/Business
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cloud"></i>
                    </div>
                    <a href="/Company/VerifiedComp" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>

                            @{var NewProduct = db.ProductTb.Where(b => b.ApprovedStatus == "P" && b.NotifyStatus == 0).Count();}
                            @NewProduct
                        </h3>
                        <p>
                          Newly Registered Products
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="/Products/NewlyRegisteredProducts" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-light-blue">
                    <div class="inner">
                        <h3>
                            @{
                                var approvedProduct = db.ProductTb.Where(u => u.ApprovedStatus == "A" && u.VerifiedStatus == "NV").Count();
                            }
                            @approvedProduct
                        </h3>
                        <p>
                            Approved Products
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-data"></i>
                    </div>
                    <a href="/products/Approvedproducts" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>

                    </a>

                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>
                            @{
                                var VerifiedProduct = db.ProductTb.Where(u => u.ApprovedStatus == "A" && u.VerifiedStatus == "V").Count();
                            }
                            @VerifiedProduct
                        </h3>
                        <p>
                           Verified Products
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="/products/verifiedProduct" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-olive-active">
                    <div class="inner">
                        <h3>
                            @{
                                var UrgentDrug = db.urgentNeedforDrugsTb.Where(u=>u.RequestStatus == "Fresh").Count();
                            }
                            @UrgentDrug
                        </h3>
                        <p>
                            Urgent Drug Request
                        </p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-yen"></i>
                       
                    </div>
                    <a href="/Admin/urgentDrugRequest" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua-active">
                    <div class="inner">
                        <h3>
                            @{
                                var TreatedtDrugReq = db.urgentNeedforDrugsTb.Where(u => u.RequestStatus == "Treated").Count();
                            }
                            @TreatedtDrugReq
                        </h3>
                        <p>
                            Treated Drug Request
                        </p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-yen"></i>

                    </div>
                    <a href="/Admin/TreatedDrugRequest" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->


        </div><!-- /.row -->
        <!-- top row -->
        <div class="row">
            <div class="col-xs-12 connectedSortable">
          
            </div><!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->

    
