<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ihealthCon" connectionString="Server=(LocalDb)\MSSQLLocalDB;Initial Catalog=IhealthDB;Persist Security Info=False;MultipleActiveResultSets=False;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="ihealthJob" connectionString="Server=(LocalDb)\MSSQLLocalDB;Initial Catalog=Ihealth-Job-DB;Persist Security Info=False;MultipleActiveResultSets=False;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="ihealthCon" connectionString="Data Source=70.32.28.3;Initial Catalog=ihealthg_ihealthdb;User Id=ihealthg_daviegy;Password=oyesiku_1;MultipleActiveResultsets=true;" providerName="system.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--ihealthgsfmLocalhost-->
    <!--<add key="recaptchaPublicKey" value="6Ld3-Q4UAAAAANew9MALkuI41ZcMugvIClFTvjU5" />
    <add key="recaptchaPrivateKey" value="6Ld3-Q4UAAAAAICCihcForpMYT-eM99WF1WdCsB7" />-->
    <!-- ihealthgsfm.com-->
    <add key="recaptchaPublicKey" value="6LegUg0UAAAAAJ830lcTMyi-oMsP-ee3NsOaoLiS" />
    <add key="recaptchaPrivateKey" value="6LegUg0UAAAAAEcCAxExuhD5LE1MiBYh0bqpN-SM" />
    <!-- ihealthgsfm.com END-->
    <add key="MaxLevel" value="EAAAAGmRVIDnBidcPiGmiht0ycsDkrUOfOOrBdX6OvlcXtXA" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="true" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="SuperAdmin" />
    <!--<add key="elmah.mvc.allowedUsers" value="*" />-->
    <add key="elmah.mvc.route" value="errortracking" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="TemplatePath" value="C:/iHealth2/EmailTemplates/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/login" timeout="60" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="214748364" />
    <sessionState timeout="60" />
    <!--<globalization uiCulture="es" culture="es-CO" />-->
    <!--<customErrors mode="Off" defaultRedirect="~/error/erroralert">
      <error statusCode="404" redirect="~/error/notfound404"></error>
    </customErrors>-->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/ErrorAlert">
      <error statusCode="404" redirect="~/Error/NotFound404" />
    </customErrors>
    <trust level="Full" originUrl="" />
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="IhealthPaging" />
        <!--<add namespace="MvcPaging.Demo.Models" />-->
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <globalization culture="en-GB" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove Virtual Directory">
          <match url=".*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <!--<rule name ="RewriteRules" stopProcessing="true">
        <match url=".*"/>
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
        <add input="{REQUEST_URI}" pattern="^/{controller}/{action}" negate="true"/>
      </conditions>
        <action type="Rewrite" url="/"/>
      </rule>-->


      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Tue,19 Jan 2038 03:14:07 GMT" />
      <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>-->
      <mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
   
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.ihealthgsfm.com" port="587" enableSsl="false" userName="noreply@ihealthgsfm.com" password="Speedy@123" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <smtp from="noreply@ihealthgsfm.com">
        <network host="smtp.zoho.com" port="587" userName="noreply@ihealthgsfm.com" password="Speedy@123" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ihealthCon" />
    <errorMail from="noreply@ihealthgsfm.com" to="idrisgbenga@outlook.com" subject="iHealth Nigeria Runtime Error" async="true" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="SuperAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>