
@{
    ViewBag.Title = "FHLPA";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">
                        FHLPA PLAN BENEFITS
                    </h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>

                    <li><a href="#" title="">FHLPA Benefits</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->


<section class="flat-row flat-iconbox pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section left">
                    <h2>
                        Benefit Details for First Hospital List Plan A (FHLPA) <br/>
                        <a href="/premium/premium_package_signup?plan=FHLPA" class="btn btn-danger">Buy Now!</a>
                        <a href="/ing/hospital_list/?ct=First_Hospital_List" class="btn btn-warning">View Providers!</a>
                    </h2>

                </div><!-- /.title-section -->
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Preventive Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.   Annual Health Screening : Physical Exam
                                </li>
                                <li>
                                    2.  Wellness Club Membership
                                </li>
                                <li>
                                    3. Periodic Health Promotion
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Emergency Medical Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.   Ambulance transport
                                </li>
                                <li>
                                    2.  Emergency room stabilization
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Physician Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.  General outpatient/ inpatient Consultation
                                </li>
                                <li>
                                    2.  Specialist outpatient/Inpatient consultation
                                </li>
                                <li>
                                    3.  Diagnostic X-rays and Lab tests
                                </li>
                                <li>
                                    4.  Diagnostic Ultrasound
                                </li>
                                <li>
                                    Prescription Drugs for covered services.
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div>
        <div class="height24">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Hospital Inpatient Services For covered benefits
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Hospitalization : Standard ward
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Hospital available
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    No. of Hospital available for usage : 1
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Maternity Care
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.  Antenatal care
                                </li>
                                <li>
                                    2.  Normal delivery
                                </li>
                                <li>
                                    3.  Assisted delivery
                                </li>
                                <li>
                                    4.  Postnatal care
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div>
        <div class="height24">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Neonatal Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.   Phototherapy care  : 3 days
                                </li>
                                <li>
                                    2.   Incubator care   : 2 days
                                </li>
                                <li>
                                    3.   Preterm care   : 2 days
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Immunizations
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Childhood Immunizations : BCG, OPV, DPT, Measles, Pentavalent, Yellow fever, Hepatitis B, Vit A vaccines.
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Family Planning
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.  Oral contraceptives
                                </li>
                                <li>
                                    2.  Intrauterine Device (IUD)
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div>
        <div class="height24">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Surgical Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Minor Surgeries e.g. suturing of laceration, joint aspirations.
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Psychiatry Services.
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Evaluation and Diagnosis
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Dental Care.
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1.  Dental Trauma.
                                </li>
                                <li>
                                    2.  Pain therapy.
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div>
        <div class="height24">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                Ophthalmic Services
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Basic optical care
                                </li>

                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                HIV Treatment
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    1. Definitive treatment i.e. provision of ARVs.
                                </li>
                                <li>
                                    2. Treatment of opportunistic infections.
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
            <div class="col-md-4">
                <div class="iconbox-item">
                    <div class="iconbox style1">
                        <div class="box-header">
                            <div class="icon-rounded magic">
                            </div><!-- /.icon-rounded -->
                            <div class="box-title">
                                ***Overseas Treatment for medical conditions that cannot be treated locally
                            </div><!-- /.box-title -->
                        </div><!-- /.box-header -->
                        <div class="box-content">
                            <ul>
                                <li>
                                    Region of cover: Nigeria
                                </li>
                            </ul>
                        </div><!-- /.box-content -->
                    </div><!-- /.iconbox -->
                </div><!-- /.iconbox-item -->
            </div>
        </div>
        <div class="height24">

        </div>
        <hr />
        <h3> <b class="text-danger">Please note:</b><br /></h3>
        <p style="margin-left:2em">
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  New born of members of <b>iHNG</b> shall have free covered for the first eight (8) weeks of life, during which it is expected that the registration would have been concluded with our recommended hmo.<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i> The Benefits are subject to review depending on the HMO. Some HMOs have pre-existing conditions like: The following pre-existing conditions will be excluded in the first 24 months of the inception of their policy.<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Hypertension and Cardiac related diseases<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Diabetes and its Complications<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Hepatitis B & C<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Heamoglobinopaties (e.g. Sickle cell disease)<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Kidney related conditions<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Peptic Ulcer Disease<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Asthma<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Epilepsy and Seizure disorders<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Glaucoma and Cataract<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Arthritis<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Pregnancy – All treatment related to Antenatal, Natal, or Postnatal period<br />
            <i class="fa fa-angle-double-right" style="font-size:15pt"></i>  Management of Malignancies (Cancers) etc<br />
            Also note that pre-existing conditions will not affect people that registered as cooperate organization in all our HMOs policy and with large pool, we will continue to negotiate better and remove the pre-existing conditions totally for everybody. Please join us now

            <br /><br />
        </p>
        <h3>
            <b class="text-danger">
                EXCLUSIONS:
            </b>
        </h3><br />
        <p style="margin-left:4em">
            <h4>The following are excluded from these Plans except otherwise agreed :-</h4>
            <br />
            1. Treatment for benefits not covered by the plan.<br />
            2. Treatment by a provider not in recommended HMO Network providers (Check the list of hospitals) except approved by us.<br />
            3. Cosmetic/plastic surgery.<br />
            4. Complex major surgery e.g. heart surgeries, renal transplant, etc.<br />
            5. Congenital & neurological abnormalities.<br />
            6. Illnesses arising out of addictive conditions/disorders or drug/substance abuse.<br />
            7. Provision of hearing aids and artificial limbs.<br />
            8. Autommune / autoantibody conditions e.g. Systemic Lupus Erythematosis, Dyscoid Lupus Erythematosis, Motor Neuron Lesion etc.<br />
            9. Chronic psychiatric illness.<br />
            10. Weight Modifications treatment.<br />
            11. Joint replacement surgeries.<br />

        </p>
    </div>         <!-- /.container -->
</section><!-- /.flat-row-iconbox -->

