@{
    ViewBag.Title = "How_to_Place_Ads";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Advert</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Advert</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p style="text-align:justify;line-height:30px;word-spacing:20%">
                    <b class="text-success">iHealth Nigeria GSFM</b> offers Wide Range of Engaging content monthly to Millions of Viewers.
                    No matter what you need to showcase either to create awareness for a Products or Brand
                    you can
                    make use of <b class="text-success">iHealth Nigeria GSFM</b> to reach your audience at the right time and at an affordable price.
                    <br />
                    For More Information, Email us: <a href="mailto:support@ihealthgsfm.com">support@ihealthgsfm.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

