@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container">

    <div class="divPanel page-content">

        <div class="breadcrumbs">
            <a href="/">Home</a> &nbsp;/&nbsp; <span>FAQ</span>
        </div>
        <!--Edit Main Content Area here-->
        <div class="row-fluid">
            <div class="span9" id="divMain">

                <h2>
                    <b>
                        Frequently Asked Questions
                        General Questions About IHealth
                    </b>
                </h2>
                <strong>
                    Question 1: What is IHealth?
                </strong>
                <p>
                    Ihealth is an innovative technological solution to the health challenges in its country of origin – Nigeria. These challenges include the provision of access to health services, the verification of quality levels for services and products and the existence of a good platform to connect consumers and providers of health products in real time.

                    <br />“We are simply an innovative meeting-point between Health, Technology, Quality and Access”.
                </p>
                <br />

                <strong>Question 2: How does IHealth serve as this meeting-point?</strong>
                <p>
                    We have an innovative website that has the following features:
                    <br />
                    A.    Informative Pages – pages for Health Service and Product Providers(Health Management Organizations of all variety) , Health Service and Product Buyers, Health Equipment Sellers and Buyers, Health Experts and Professionals etc
                    <br /> B.     A Directory of listings that connects you to Health Service and Product Providers(Health Management Organizations of all variety) , Health Service and Product Buyers, Health Equipment Sellers and Buyers, Health Experts and Professionals etc
                    <br />  C.    A Health Networking portal for Career, Income and Health advancement opportunities in the area of Health Insurance.
                    <br />  <br />  D.    A Page that gives you access to International Health Opportunities in two key categories – I. Medical Tourism – in association with our Foreign Health Partners, II. Smart Health Services through the ‘Internet of Things’ that beats the barrier of distance and travel, to bring you the best of Foreign Health Services.
                    <br /> E.     You can also access pages about our Ambulance services, Health Quality Auditing services and our NGO connect portal.
                    <br />F.     We also have an Ecommerce offering that uses the Interswitch payment systems and local bank services to process payments for buyers and sellers on our platform.
                    <br />G.    We also have a page for Advertisement opportunities for Health service and product providers to help them reach a wider audience.
                </p>
                <br />
                <strong>Question 3: How do I gain access to IHealth’s Features and Opportunities? How do I get started?</strong>
                <p style="text-align:justify">
                    We have distinct FAQs for different user-categories on our site. These FAQs are as follows:
                    <br />
                    BASIC USER FAQ
                    <br />
                    PREMIUM USER FAQ
                    <br />
                    HEALTH PRODUCT AND SERVICE CONSUMER FAQ
                    <br />
                    HEALTH PRODUCT AND SERVICE PROVIDER FAQ
                    <br />
                    IHEALTH NETWORKER FAQ
                    <br />
                    Read them below to get more acquainted with our site and services.
                    <br />
                    Before you read - Please Note all users, use one centralized dashboard that connects them to the following:
                    <br />
                    A Business Registration Link
                    <br />
                    A Product Registration Link
                    <br />
                    A Profile Link
                    <br />
                    A Referral URL with a Referral Count – users who refer more than 20 persons will get amazing benefits on the site.
                    <br />
                    Read more about our Membership Benefits here -
                    <br />
                    A Site Management Contact Console – at the bottom of the user dashboard
                    <br />
                    A Link to upgrade to our Networking Opportunity with Career and Income aspects that will give you low-cost Health and Life Insurance plans and the opportunity to earn money referring others to the network.
                    <br />
                    <b>BASIC USER FAQ</b>

                    Basic users are referred to on our site as those users who have not signed up to the Premium services on our site. These services include the following – Business and Product Listing, and Network registration. A Basic user is content to browse our Directory, make purchases from the Ihealth premium users and connect with Health Professionals, Organizations, Business Locations, Services and Products.
                    <br />
                    <b> PREMIUM USER FAQ</b>
                    <br />
                    Premium users are referred to on our site as those users who have signed up for the Premium services on our site. These services include the following – Business and Product Listing, and Network registration. Premium Members also have access to our ClientBooster programme. You can become a Premium user simply by signing up and gaining access to our user dashboard.
                    <br />
                    <b>PRODUCT AND SERVICE CONSUMER FAQ</b>
                    All users can be buyers on our platform. They simply have to buy a product, pay for a service or subscribe to our network platform to become buyers. We have two payment options on our site – Electronic (powered by Interswitch’s payment processing system) and Local Bank Payment processing.
                    <br />
                    Please note – The Providers of services and products on our site set their different terms and conditions of sales, so buyers should not expect uniformity in sale conditions.
                    <br/>
                    <b> PRODUCT AND SERVICE PROVIDER FAQ</b>
                    <br />
                    Users can provide products and services to consumers on our platform. They simply have to list their products or services to do so. We have two payment options on our site – Electronic (powered by Interswitch’s payment processing system) and Local Bank Payment processing).
                    <br/>
                    Payment Processing on Ihealth
                    <br />
                    All payments directly to Ihealth will be made and receipted through our approved channels of payment. These approved channels of payment are as follows:
                    <br />
                    <ol>
                        <li>
                            Our Bank Account at UBA Bank - 1018361479, Please provide teller as proof of payment to the following email or physical addresses -
                        </li>
                        <li>
                            Our Interswitch Payment Gateway that is processed by Interswitch an industry leader in payment processing. Click here to link to our Interswitch payment gateway.
                        </li>
                    </ol>
   
                    <br /> Please note – providers of services and products on our site must comply with our conditions for the provision of services and products.

                    <br />
                    <b> IHEALTH NETWORKER FAQ</b><br />
                    Our Networking Opportunity comes with Career and Income aspects that will gives you low-cost Health Insurance plans and the opportunity to earn money while referring others to the network. The network is open to all users on the site.
                    
                    <br />All users should note that our FAQs and other Site-Information is subject to changes and review, hence a periodic visit to the site’s FAQ and Privacy Policy pages is advised.
                </p>

            </div>
        </div>
    </div>
</div>