
@{
    ViewBag.Title = "sample_page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="tp-banner-container">
    <div class="tp-banner">     
        <div class="flexslider" style="margin-bottom:0px;border:none">
            <div class="flat-slides">
                <ul class="slides">
                    <li>
                        <img src="~/Content/images/slides/Slider.jpg" />
                    </li>

                    <li>
                        <img src="~/Content/images/slides/Slider_ihealth4.jpg" />
                    </li>
                </ul>
            </div> <!-- /.flat-slides -->
        </div><!-- /.wrar-slides -->
    </div>
</div>
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Sample Page</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">About Us</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->
<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrap-main-post about-v3">
                    <!-- /.wrar-slides -->

                    <div class="box-content">
                        <p style="text-align:justify;">
                            <b>IHealthGSFM</b>  – Nigeria’s premiere meeting point of quality health, good
                            technology and easy access. Our core aim is to make quality healthcare more
                            accessible to you by providing a holistic healthcare services that use technology
                            to give you this access, via our website <a href="/" style="font-style:italic">(www.ihealthgsfm.com)</a> and other relevant websites that provide quality healthcare services from around the globe.
                            <br><br>
                            Our website will give you access to dynamic healthcare platforms, diverse specialists and health experts in different fields of health and countries, all in real time. We also monitor and evaluate quality and standards in the health industry through our review and rating system that provides you with useful hints before access them. We also promote investments in healthcare through equity funding, health insurance provision and the provision of foreign linkages for guaranteed credit purchases and supplies etc. We equally provide top-quality health management services for HMOs and related organizations.
                            <br><br>
                            Our website which uses the domain name www.ihealthgsfm.com is a compound of iHealth (which stands for i- You and Me) Health (as is basically implied especially good health) and GSFM (which is an acronym for Guaranteed Structure and Facility Management).
                            <br><br>
                            Our website is an eclectic web destination which comprises of health directory, an e-commerce store and a health networking platform. The directory is for healthcare services and product listings. The e-commerce store is for selling and buying of these services and products.
                            <br><br>
                            Our website also has remarkable features such as a content publishing suite for marketing, profile pages for the advertisement of expertise and differentiated user categories – Basic, Premium, Buyer, Seller and Networker. Our networking platform can help you to build a career in the health sector, which can generate good money for your pocket. It also gives you access to health insurance opportunities that are of lower cost and higher advantages. Our site is also a solid content management portal that has segments for Articles, News and the Reviews of products and services. We invite you to start using it to publish your health related works to the world – whether they are text or audio-visual. Our site allows people to connect with a wide range of Healthcare Industry Professionals, which includes the following: Doctors, Nurses, Pharmacists, Certified Professional Caregivers, Laboratory Scientists, Medical Equipment Suppliers, Trado-Medical and Alternative Health Practitioners and Health Insurance Agents etc.
                            <br><br>
                            We also connect you to the following healthcare destinations within and outside Nigeria: Hospitals, Clinics, Pharmacies, Medical Equipment Stores, Trado-Medical Health Centres, Health Insurance Companies, Health Education Centres etc. You are invited to a new and innovative experience with iHealth. Get involved with us today –even now. Yours

                            <br><br>
                            <h4><b>  The iHealth Media Team</b></h4>

                        </p>
                        <div class="dividers dividers-bc-v4"></div>
                    </div>

                </div> <!-- /.wrap-main-post -->
            </div> <!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row-iconbox -->