@model IEnumerable<iHealth2.Models.BusinessInfo>
@using iHealth2.CustomClasses;
@using iHealth2.Models
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity



@{
    ViewBag.Title = "NewCompany";
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    switch (user.UserType)
    {

        case "AD":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
        case "SA":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
          //  Layout = "~/Views/Shared/_SuperAdmLayout.cshtml";
            break;

    }
}

   
        <h2 class="text-danger" style="margin-left:50px">Newly Registered Company or Business</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <div  id="tableData">
@Html.Partial("_NewlyRegBizPartial", Model) 
                </div>
            </div>
        </div>



    @section scripts{
        <script src="~/Scripts/Plugins/bootstrap-table.js"></script>
        <script src="~/Scripts/AdminScripts/iCheck/icheck.js"></script>
        <script>
            $(document).ready(function (e) {

                //Enable iCheck plugin for checkboxes
                //iCheck for checkbox and radio inputs
                var $b = $('input[type = "checkbox"]');
                $('.mailbox-messages input[type="checkbox"]').iCheck({
                    checkboxClass: 'icheckbox_flat-blue',
                    radioClass: 'iradio_flat-blue'
                });
                //Enable check and uncheck all functionality
                $(".checkbox-toggle").click(function () {
                    var clicks = $(this).data('clicks');
                    if (clicks) {
                        //Uncheck all checkboxes
                        //  alert("i just got clicked")
                        $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                        $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');

                    } else {
                        //Check all checkboxes
                        $(".mailbox-messages input[type='checkbox']").iCheck("check", function () {
                            $("#submitbtn").prop('disabled', false)
                        });
                        $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                    }
                    $(this).data("clicks", !clicks);
                });
            //enable check/unchecked for each chechkbox functionally 
                $('.mailbox-messages input[type="checkbox"]').on('ifToggled', function (e) {
                    if ($('#processId:checked').length > 0) {
                        $("#btnappr").prop('disabled', false)
                        $("#btndel").prop('disabled', false)
                    }
                    else {
                        $("#btnappr").prop('disabled', true)
                        $("#btndel").prop('disabled', true)
                    }

                })



            });

            $('#table').bootstrapTable({

                striped: true,
                // cardView: true,
                pagination: true,
                pageSize: 10,
                pageList: [10, 25, 50, 100, 200],
                smartDisplay: false,
                showToggle: true,
                search: true,
                showColumns: true,
                showRefresh: true,
                border: true,
                align: 'center',
                valign: 'bottom'

            });
        </script>
        <script src="~/Scripts/Plugins/sweetalert.min.js"></script>
        <script src="~/Scripts/Plugins/dpLoading-2.x.js"></script>
        <script src="~/Scripts/customscript/CompScript.js"></script>

    }
